body {
  background-color: #ECEEF1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  height: 60px;
}

nav button,
nav .text {
    float: right;
}

a {
  text-decoration: none;
  color: hsl(200, 96%, 38%)
}

nav .text {
  display: inline-block;
  margin: 0 0 0 0;
  font-size: 12px;
  line-height: 5px;
  color: #888;
}

button img {
  transform: translate(-5px, 0);
  height: 17px;
  width: 17px;
}

button {
  border-style: solid;
  border-width: 1px;
  background-color: #0077C5;
  color: white;
  border-radius: 5px;
}

nav button {
  vertical-align: top;
  padding: 8px 20px;
  margin: 5px 10px 0 5px;
  display: inline-flex;
  align-items: center;
}

header {
  text-align: center;
  display: block;
}

header .logo,
header img {
  height: 35px;
  width: 118px;
  margin: 0 auto;
}

section header img {
  height: 22px;
  width: 300px;
  margin: 20px 0
}

.form-container {
  background-color: white;
  border: 1px solid #c7c7c7;
  width: 318px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  color: #404040;
}

.form-container h1 {
  font-weight: 300;
  margin: -10px 0 0 0;
}

.form-container p {
  line-height: 0px;
  font-size: 14px;
  margin: 20px -10px;
}

.form-container a {
  font-size: 12px;
}

fieldset {
  border-style: none;
  padding: 0;
  margin: 0;
}

form label,
form input {
  display: block;
  width: 100%;
  margin: 10px auto;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

form input {
  height: 34px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
}

#lil-text {
  text-align: left;
  font-size: 10px;
  margin: 15px auto 30px auto;
}

form label img {
  float: right;
  height: 27px;
  transform: translate(-2px, -43px);
}

form button {
  width: 100%;
  height: 44px;
  padding: 6px 15px;
  font-size: 1em;
  font-weight: normal;
  margin: 20px auto;
}

form button img {
  transform: translate(-2px, 3px);
  height: 20px;
  width: 20px;
}

.privacy {
  font-size: 12px;
  font-style: italic;
  width: 80%;
  margin: 20px auto;
  line-height: 23px;
}

.form-container footer {
  background-color: #eceef1;
  margin: 30px -30px -30px -30px;
  padding: 20px 16px 16px 16px;
  text-align: center;
}

.foot-text {
  color: #8d9096;
}

.form-foot-text,
.form-foot-text a {
  font-size: 10px;
}

footer,
footer a {
  margin: 0 auto;
  text-align: center;
  color: #505050;
  font-size: 12px;
  line-height: 16px;
}

footer {
  margin-top: 3em;
}

.foot-links span {
  margin: 2px 10px;
}
